
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <div class="container">
    <p>
      {{user.get_username}}
      <a href="{% url 'logout' %}?next={{request.path}}">Logout</a>
      <a href="{% url 'default' %}?next={{request.path}}">Calendar</a>
      <a href="{% url 'timer_list' %}?next={{request.path}}">Timers</a>
      <br/>
      <a href="{% url 'tasks_create' %}?next={{request.path}}">New Task</a>
    </p>
    <p>Tasks List</p>

    <p>
      <button type="button" onclick="new_task()">New Task</button>
    </p>

    <div id="all_tasks_div"> </div>
    <div>
      <p>
        <button id="prev_button" onclick="prev_page()">Previous Page</button>
        <button id="next_button" onclick="next_page()">Next Page</button>
      </p>
    </div>

  </div>

</body>

<script>
  var page = 1;
  var obj_per_page = 5;
  var has_next_page = true;

  window.onload = function() {
    document.getElementById("prev_button").disabled = true;
    display_page(page);
  }

  function display_page(page) {
    send("GET", 
      `/calapp/tasks_get_parents?mode=all&page=${page}&obj_per_page=${obj_per_page}`, 
      {},
      function(request) {
        var response = JSON.parse(request.responseText);
        console.log(response);
        var tasks = response['objects'];
        has_next_page = response['has_next'];
        document.getElementById("next_button").disabled = !has_next_page;
        for (const task of tasks) {
          var all_tasks = document.getElementById("all_tasks_div");
          all_tasks.append(new_task_tag(task.id));
          set_new_task_callbacks(task.id);
          document.getElementById("title_input_"+task.id).value = task.title;
          document.getElementById("priority_input_"+task.id).value = task.priority;
          document.getElementById("deadline_input_"+task.id).value = task.deadline;
          document.getElementById("done_input_"+task.id).checked = task.done;

          send("GET", `/calapp/tasks_get_children?parent_id=${task.id}`, 
            {},
            function(request) {
              var response = JSON.parse(request.responseText);
              console.log(response);
              var tasks = response['objects'];
              var has_next_page = response['has_next'];
              for (const child of tasks) {
                var all_tasks = document.getElementById("children_"+task.id);
                all_tasks.append(new_child_task_tag(child.id));
                set_new_child_callbacks(child.id);
                document.getElementById("title_input_"+child.id).value = child.title;
                document.getElementById("priority_input_"+child.id).value = child.priority;
                document.getElementById("done_input_"+child.id).checked = child.done;
              }
            });

        }
      })

  }

  function prev_page() {
    var all_tasks = document.getElementById("all_tasks_div");
    all_tasks.innerHTML = "";
    page -= 1;
    if (page == 1) {
      document.getElementById("prev_button").disabled = true;
    }
    display_page(page);
  }

  function next_page() {
    var all_tasks = document.getElementById("all_tasks_div");
    all_tasks.innerHTML = "";
    page += 1;
    if (page > 1) {
      document.getElementById("prev_button").disabled = false;
    }
    display_page(page);
  }


  function new_task_tag(id) {
    var tag = document.createElement('p');
    tag.id = "task_" + id;
    tag.innerHTML = `
            <div class="task_div">
              <table>
                <tr>
                  <td> <input type="checkbox" id="done_input_${id}"> </td>
                  <td> 
                    <input class="title_input" id="title_input_${id}"> 
                  </td>
                </tr>
                <tr>
                  <td></td>
                  <td> 
                    <label>Priority:</label> 
                    <input class="priority_input" type="number" id="priority_input_${id}">
                    <label>Deadline:</label>
                    <input class="deadline_input" type="date" id="deadline_input_${id}">
                  </td>
                </tr>
                <tr>
                  <td></td>
                  <td class="buttons">
                    <button class="update_button" id="update_button_${id}" disabled onclick="update_task(${id})">Update</button>
                    <button class="new_child_button" onclick="new_child_task(${id})">New Child</button>
                    <button class="delete_button" onclick="delete_task(${id})">Delete</button>
                  </td>
                </tr>
                <tr>
                  <td></td>
                  <td>
                    <p id="children_${id}"></p>
                  </td>
                </tr>
              </table>
            </div>
    `;
    return tag;
  }

  function set_new_task_callbacks(id) {
    document.getElementById("done_input_"+id).addEventListener('input', function (event) {
      document.getElementById("update_button_"+id).disabled = false;
    });
    document.getElementById("title_input_"+id).addEventListener('input', function (event) {
      document.getElementById("update_button_"+id).disabled = false;
    });
    document.getElementById("priority_input_"+id).addEventListener('input', function (event) {
      document.getElementById("update_button_"+id).disabled = false;
    });
    document.getElementById("deadline_input_"+id).addEventListener('input', function (event) {
      document.getElementById("update_button_"+id).disabled = false;
    });
  }

  function new_child_task_tag(id) {
    var tag = document.createElement('p');
    tag.id = "task_" + id;
    tag.innerHTML = `
            <div class="child_div">
              <table>
                <tr>
                  <td> <input type="checkbox" id="done_input_${id}"> </td>
                  <td> 
                    <input class="child_title_input" id="title_input_${id}"> 
                    <input class="priority_input" type="number" id="priority_input_${id}">
                    <button class="update_button" id="update_button_${id}" disabled onclick="update_task(${id})">Up</button>
                    <button class="delete_button" onclick="delete_task(${id})">Del</button>
                  </td>
                </tr>
              </table>
            </div>
    `;
    return tag;
  }
  function set_new_child_callbacks(id) {
    document.getElementById("done_input_"+id).addEventListener('input', function (event) {
      document.getElementById("update_button_"+id).disabled = false;
    });
    document.getElementById("title_input_"+id).addEventListener('input', function (event) {
      document.getElementById("update_button_"+id).disabled = false;
    });
    document.getElementById("priority_input_"+id).addEventListener('input', function (event) {
      document.getElementById("update_button_"+id).disabled = false;
    });
  }


  function new_task() {
    send("POST", "/calapp/tasks_create", {}, function(request) {
      if (request.status == 200) {
        var response = JSON.parse(request.responseText);
        console.log(response);
        var all_tasks = document.getElementById("all_tasks_div");
        all_tasks.insertBefore(new_task_tag(response.id), all_tasks.firstChild);
        set_new_task_callbacks(response.id);
      }
    });
  }

  function update_task(id) {
    var title =    document.getElementById("title_input_" + id);
    var priority = document.getElementById("priority_input_" + id);
    var deadline = document.getElementById("deadline_input_" + id);
    var done =     document.getElementById("done_input_" + id);
    var data = {
      "id":       id,
      "title":    title.value,
      "priority": Number(priority.value),
      "deadline": deadline ? deadline.value : null,
      "done":     done.checked,
    };
    console.log(data);
    send("PUT", "/calapp/tasks_update", data, function(request) {
      if (request.status == 200) {
        console.log('success');
        document.getElementById("update_button_"+id).disabled = true;
      }
    });
  }

  function delete_task(id) {
    send("DELETE", "/calapp/tasks_delete", {"id": id}, function(request) {
      if (request.status == 200) {
        var response = JSON.parse(request.responseText);
        console.log(response);
        document.getElementById("task_" + id).remove();
      }
    });
  }

  function new_child_task(id) {
    send("POST", "/calapp/tasks_create_child", {"parent_id": id}, function(request) {
      var response = JSON.parse(request.responseText);
      console.log(response);
      var parent = document.getElementById("children_" + id);
      parent.insertBefore(new_child_task_tag(response.id), parent.firstChild);
      set_new_child_callbacks(response.id);
    });
  }

  function send(method, endpoint, data, callback=function(request){}) {
    return new Promise((resolve, reject) => {
      const xhr = new XMLHttpRequest();
      xhr.open(method, endpoint, true);
      xhr.setRequestHeader('X-CSRFToken', "{{csrf_token}}");
      xhr.setRequestHeader('Content-Type', 'application/json');
      xhr.onreadystatechange = function() {
        if (xhr.readyState == 4) {
          callback(xhr);
          resolve('success')
        }
      };
      xhr.send(JSON.stringify(data));
    });
  }
</script>

<style>
  body {
    background-color: white;
    color: black;
  }
  .task_div {
    background-color: #b8cedd;
    color: black;
    border: 1px solid black;
    display: inline-block;
    padding: 5px 5px;
    width: 380;
  }
  .child_div {
    background-color: #b8cedd;
    color: black;
    border: 1px solid black;
    display: inline-block;
    padding: 2px 2px;
  }
  .buttons {
  }
  .title_input {
    width: 340;
  }
  .child_title_input {
    width: 190;
  }
  .priority_input {
    width: 40;
  }
  .deadline_input {
    width: 120;
  }
  .done_input {
  }
  .new_child_button {
  }
  .update_button {
  }
  .delete_button {
    float: right;
  }
  @media (prefers-color-scheme: dark) {
    body {
      background-color: #353535;
      color: lightgrey;
    }
    .detail {
      display: inline-block;
    }
    .delete {
      float: right;
    }
    .task_div {
      background-color: #555555;
      color: lightgrey;
      border: 1px solid black;
      display: inline-block;
      padding: 5px 5px;
    }
    .child_div {
      background-color: #555555;
      color: lightgrey;
      border: 1px solid black;
      display: inline-block;
      padding: 2px 2px;
    }
    input {
      background-color: #202020;
      color: lightgrey;
    }
    a {
      color: lightblue;
    }
  }
</style>
