
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>


  <form method="post">
    {% csrf_token %}
    Are you sure you want to delete it?<br/>
    <input type="submit" value="Yes">
    <a href="javascript:history.back()">Back</a>
  </form>
</body>

<style>
  body {
    background-color: white;
    color: black;
  }
  @media (prefers-color-scheme: dark) {
    body {
      background-color: #353535;
      color: lightgrey;
    }
    input {
      background-color: #202020;
      color: lightgrey;
    }
    a {
      color: lightblue;
    }
  }
</style>
