
<div class="container">
<p>
  {{user.get_username}}
  <a href="{% url 'logout' %}?next={{request.path}}">Logout</a><br/>
</p>

{% for mkey, month in months.items %}
  <div id="{{mkey}}" class="month_div">
    <p><b>{{month.header}}</b></p>
    <table class="month_table">
      <tr>
        <th>sun</th>
        <th>mon</th>
        <th>tue</th>
        <th>wed</th>
        <th>thu</th>
        <th>fri</th>
        <th>sat</th>
      </tr>
      {% for mday in month.monthdays %}

        {% if mday.1 == 6 %}
          <tr>
        {% endif %}

        {% if mday.0 == 0 %}
          <td></td>
        {% else %}
            {% if mday.2 == "today" %}
              <td id="apt_{{mday.3.id}}" class="today">{{mday.0}}</td>
            {% elif mday.2 == "passed" %}
              <td id="apt_{{mday.3.id}}" class="passed">{{mday.0}}</td>
            {% elif mday.2 == "to come" %}
              <td id="apt_{{mday.3.id}}" class="to_come">{{mday.0}}</td>
            {% else %}
              <td id="apt_{{mday.3.id}}" class="day">{{mday.0}}</td>
            {% endif %}
        {% endif %}

        {% if mday.1 == 5 %}
          </tr>
        {% endif %}

      {% endfor %}
      </tr>
    </table>

    <table class="appointments_table">
      {% for appointment in month.appointments %}
        <tr>
          {% if appointment.1 == "today" %}
            <td id="apt_{{appointment.0.id}}" class="today" >{{appointment.0.date.day}}:</td>
          {% elif appointment.1 == "passed" %}
            <td id="apt_{{appointment.0.id}}" class="passed" >{{appointment.0.date.day}}:</td>
          {% elif appointment.1 == "to come" %}
            <td id="apt_{{appointment.0.id}}" class="to_come" >{{appointment.0.date.day}}:</td>
          {% endif %}
          <td id="apt_{{appointment.0.id}}" class="description" >{{appointment.0.description}}</td>
        </tr>
      {% endfor %}
    </table>
  </div>
  <p></p>
{% endfor %}
</div>


<script>
  window.onload = function () {
      {% if scrollto %}
        elm = document.getElementById("{{scrollto}}");
        elm.scrollIntoView({
            behavior: "smooth",
            block: "start",
            inline: "nearest"
          });
      {% endif %}
    };
  document.addEventListener('click', function(e) {
      var elms = document.elementsFromPoint(e.clientX, e.clientY);
      if (elms[0].nodeName == "TD") {
          var yearmonth = parseInt(elms[2].id);
          var year = parseInt(yearmonth / 100);
          var month = parseInt(yearmonth % 100);
          var day = parseInt(elms[0].innerText);
          var apt_id = 0;
          console.log("id: " + elms[0].id);
          if (elms[0].id.length > 4) {
            apt_id = parseInt(elms[0].id.substring(4));
            }
          if (["day", "today", "passed", "to_come", "description"].includes(elms[0].className)) {
              if (apt_id == 0) {
                console.log("id: " + apt_id + ", year: " + year + ", month: " + month + ", day: " + day);
                  document.location.href = "appointment/"+year+"/"+month+"/"+day;
                }
              else {
                document.location.href = "appointment_update/"+apt_id;
                }
            }
          else {
              console.log("not a day");
            }
        }
    });
</script>


<style>
  @media screen and (min-width: 768px) {
    body {
      zoom:100%;
      background-color: yellow;
    }
  }
  @media screen and (max-width: 767px) {
    body {
      zoom:200%;
      background-color: green;
    }
  }
  .month_div {
    background-color: lightblue;
    border: 1px solid black;
    display: inline-block;
    padding: 20px 20px;
  }
  .month_table {
    font-family:"Courier New";
    text-align:right;
    font-size: 1.0em;
  }
  .appointments_table {
    font-size: 1.0em;
  }
  .today {
    font-weight: bold;
    font-family:"Courier New";
    text-align:right;
    background-color:yellow;
    text-decoration-line:underline;
  }
  .passed {
    font-weight: bold;
    font-family:"Courier New";
    text-align:right;
    background-color:cyan
  }
  .to_come {
    font-weight: bold;
    font-family:"Courier New";
    text-align:right;
    background-color:red;
    color:white
  }
</style>
