
{% load static %}
{% include "head.html" %}

<body>
  <p>Timer</p>
  <p>
    <input id="timername" value="{{timer.name}}" onkeydown="click_save_count(event)"/>
  </p>
  <input id="timercount" hidden type="integer" value="{{timer.count}}" />
  <input id=readable onkeydown="click_save_count(event)" />
  <p>
    <button id="timerbutton">Start</button>
  </p>
  <a href="/calapp/timer/page/">Back</a>
</body>

<script>
  var running = false;

  window.onload = function() {
    console.log('onload');
    var count = {{timer.count}};
    document.getElementById('timercount').innerHTML = count + ' ';

    readable_counter(count);

    setInterval(function() {
      if (running) {
        count += 1;
        document.getElementById('timercount').value = count + ' ';
        readable_counter(count);
        console.log('count: ' + count);
      }
    }, 1000);

    button = document.getElementById('timerbutton');
    button.addEventListener('click', function(event) {
      if (!running) {
        button.innerHTML = 'Stop';
        running = true;
        timer_save();
      }
      else {
        button.innerHTML = 'Start';
        running = false;
        timer_save()
      }
    });

    if ("{{timer.running}}" == 'True') {
      button.innerHTML = 'Stop';
      running = true;
    }
  }

  window.onbeforeunload = function() {
    console.log("before unload");
    if (running) {
      running = false;
      timer_save();
    }
  }

  function readable_counter(count) {
    var hour = 0;
    var min = 0;
    var sec = count;
    hour = Math.floor(sec / 3600);
    sec = sec % 3600;
    min = Math.floor(sec / 60);
    sec = sec % 60;
    var readable = hour.toString().padStart(2, '0') + ':' + min.toString().padStart(2, '0') + ":" + sec.toString().padStart(2, '0');
    document.getElementById('readable').value = readable;
  }

  function readable_to_secs() {
    var fields = document.getElementById('readable').value.split(':');
    var hour = Math.floor(fields[0]);
    var min = Math.floor(fields[1]);
    var sec = Math.floor(fields[2]);
    hour = hour ? hour : 0;
    min = min ? min : 0;
    sec = sec ? sec : 0;
    var count = (hour * 3600) + (min * 60) + (sec);
    return count;
  }

  function click_save_count(event) {
    if (event.key === 'Enter') {
      var name = document.getElementById('timername').value;
      var count = readable_to_secs();
      send('PUT', "/calapp/timer/", {
        "id": {{timer.id}},
        "name": name,
        "count": count,
        "running": running,
      }, function(request) {
        if (request.status == 204) {
          console.log('update successful');
        }
      });
    }
  }

  function timer_save() {
    var name = document.getElementById('timername').value;
    send('PUT', "/calapp/timer/", {
      "id": {{timer.id}},
      "name": name,
      "running": running,
    }, function(request) {
      if (request.status == 204) {
        console.log('update successful');
      }
    });
  }

</script>

<style>
</style>
